POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
GOTRUE_SITE_URL=http://localhost:3000
GOTRUE_JWT_SECRET=super-secret-jwt-token
GOTRUE_ANON_KEY=anon-key
GOTRUE_ADMIN_API_KEY=service-role-key
