@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    font-family: 'Funnel Display';
    --color-primary-50: #ecf9ed;
    --color-primary-100: #d8f3d5;
    --color-primary-200: #b3e7ab;
    --color-primary-300: #82de7f;
    --color-primary-400: #61c670;
    --color-primary-500: #3d9f53;
    --color-primary-600: #2f7b40;
    --color-primary-700: #256034;
    --color-primary-800: #1f4d29;
    --color-primary-900: #17381e;
    --color-white: #ffffff;
    --color-black: #171717;
    background-color: var(--color-primary-50);
    color: var(--color-black);
  }

  html,
  body {
    scroll-behavior: smooth !important;
  }

  body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-primary-50);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
}

